/* RESET */

html, body, div, span, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, a, article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
    /* Cancel out some differences between browser defaults */
    margin: 0;
    padding: 0;
    border: 0;
}
 
* {
    /* The width of an element will be the size of its border box,
       not its content box (which is the normal default). */
    box-sizing: border-box;
}

/* == END RESET =========================================== */


/* -----LAYOUT----- */
/* Default layout design for mobile */

/* Set padding so that content is not against edge of viewport */
header, nav, main, aside, footer {
    padding: 1em;
}

/* Set image to the size of it's container/parent element */
img {
    max-width: 100%;
}

/* -----HAMBURGER MENU----- */

.hamburger {
    /* fix position so scrolling doesn't affect menu icon */
    position: fixed;
    /* z-index ensures icon stays in front of everything else */
    z-index: 100;
    /* place at top right of screen */
    top: 1rem;
    right: 1rem;
    padding: 0.5rem;
    border: none;
    background: #FFFFFF;
    color:#01648B;
    cursor: pointer;
}

.closeIcon {
    /* Hide the close icon by default */
    display: none;
}

.menu {
    /* Fix position so scrolling doesn't affect menu */
    position: fixed;
    /* Hide menu by default above screen */
    transform: translateY(-100%);
    /* Animate menu on open/close with a slide effect. -Optional- */
    transition: transform 0.2s;
    /* Open menu full-screen */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: #01648B;
    list-style: none;
    padding-top: 4rem;
}

.menuItem {
    color: #FFFFFF;
}

.showMenu {
    /* This class is added/removed from the menu with JavaScript to show/hide the menu */
    transform: translateY(0);
}

/* -----VERTICAL SECTION HEIGHT----- */
/* Min height of content sections */
main {
    min-height: 50rem;
}

.aside-one-content-overview {
    min-height: 30rem;
}

.aside-two-about-us {
    min-height: 30rem;
}

.aside-three-weekly-deal {
    min-height: 50rem;
}

.aside-four-newsletter {
    min-height: 30rem;
}

.footer {
    min-height: 30rem;
}

/* -----TYPOGRAPHY----- */

body {
    font-family: "Open Sans", "Roboto", sans-serif;
    line-height: 1.5rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
    font-weight: normal;
}

h3 {
    font-size: 1.5rem;
    font-weight: normal;
}

nav {
    font-size: 1.5rem;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.title-container h1 {
    line-height: 1.5em;
    font-size: 3.5rem;
}

.title-container p {
    font-size: 1.2rem;
    
}

.single-icon-container h3 {
    font-weight: bold;
}

.about-us-text h2 {
    font-weight: bold;
}

/* -----COLOURS AND BORDERS----- */

body {
    color: #01648B;
}

a {
    color: #01648B;
}

header {
    background-color: #FFFFFF;
}

.aside-two-about-us {
    background-color: #eef2f2;
}

footer {
    background-color: #eef2f2;
}
/* -----BACKGROUND IMAGES----- */

main {
    background-image: url(./images/woman-background-1.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 300% auto;
}

.aside-three-weekly-deal {
    background-image: url(./images/woman-background-2.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 300% auto;
}

/* -----IMAGES----- */

/* hide search bar (placeholder image) on small screens */
@media (max-width: 600px) {
    .search-placeholder {
        display: none;
    }
}

.header-logo {
    width: 30%
}


/* -----SECTION AND CONTAINER LAYOUTS----- */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* main elements */
main {
    color: #FFFFFF;
    display: flex;
}

.title-container {
    padding: 2.8em 3em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.title-container p {
    padding-right: 6em;    
}

/* all aside elements */
aside {
    padding: 2em 1em;
}

/* aside one elements */

.icons-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.single-icon-container {
    width: 50%;
    padding: 2.8em 0;
}

.single-icon-container h3 {
    padding-top: 0.8em;
    padding-bottom: 0.3em;
}

.icon {
    width: 50%;
    margin: 0 auto;
}

/* aside two elements */

.about-us-container {
    padding: 1.2em 2.6em;
}

.about-us-text {
    padding: 0 2.2em;
}

.about-us-text p {
    padding: 1.3em 0 2.2em 0;
}

/* -----RESPONSIVENESS----- */