/* =============== RESET =============== */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, a, article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
    /* Cancel out some differences between browser defaults */
    margin: 0;
    padding: 0;
    border: 0;
}
 
* {
    /* The width of an element will be the size of its border box,
       not its content box (which is the normal default). */
    box-sizing: border-box;
}

/* =============== END RESET =============== */


/* =============== LAYOUT =============== */
/* Default layout design for mobile */

/* Set padding so that content is not against edge of viewport */
header, nav, main, aside, footer, section {
    padding: 1em;
}

/* Set image to the size of it's container/parent element */
img {
    max-width: 100%;
}

/* =============== HAMBURGER MENU =============== */
/* header and navbar style */
.header {
    background-color: #FFFFFF;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

/* hamburger button style */
.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #01648B;
}

/* basic styles for other menu elements */
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link {
    font-size: 1.6rem;
    font-weight: 400;
    color:#01648B;
}

.nav-link:hover {
    color:#86DBBB;
}


/* =============== VERTICAL SECTION HEIGHT =============== */
/* Set min height so background image is visible */
section {
    min-height: 50rem;
}

.aside-weekly-deal {
    min-height: 50rem;
}


/* =============== TYPOGRAPHY =============== */
/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;600;700&display=swap');

/* general typography */
body {
    font-family: "Open Sans", "Roboto", sans-serif;
    line-height: 1.5rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
    font-weight: normal;
}

h3 {
    font-size: 1.5rem;
    font-weight: normal;
}

nav {
    font-size: 1.5rem;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/* page titles */
.title-container h1 {
    font-size: 12vw;
    line-height: 1.5em;
    font-weight: 700;
}

.title-container p {
    font-size: 1rem;
    font-weight: 500;
}

/* container holding icon and text */
.single-icon-container h3 {
    font-weight: bold;
}

/* index.html about us */
.about-us-text h2 {
    font-weight: bold;
}

/* index.html weekly deal */
.weekly-deal-container h3 {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.5em;
}

.deal-button {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
}

/* index.html newsletter signup */
.newsletter-signup-container p {
    line-height: 1.5rem;
}

.newsletter-signup-container h2 {
    line-height: 2rem;
    font-weight: 600;
}

.signup-button {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
}

/* index.html main title span bold */
.bold-text {
    font-weight: bold;
}

/* accommodation.html title */
.title-accommodation h1 {
    font-size: 9vw;
}

/* accommodation, attractions, and restaurant heading inside content-item */
.title-box h2 {
    line-height: 1.8rem;
}

/* index.html newsletter signup */
.signup-box {
    font-size:1.3rem;
}

/* weather.html season names */
.season h2 {
    font-weight: bold;
    text-align: left;
}

.season h3 {
    font-weight: normal;
}

/* footer text */
footer {
    font-size: 1rem;
}

.footer-right {
    text-align: right;
}

.footer-copyright ul li {
    font-weight: lighter;
    text-align: center;
    font-size: 0.8rem;
}

/* =============== COLOURS AND BORDERS =============== */

/* main font = #01648B */
/* light font = #FFFFFF */
/* light green hover = #86DBBB */
/* about us and footer background #eef2f2 */
/* shadow colour = #535353 */

/* general colours */
body {
    color: #01648B;
}

a {
    color: #01648B;
}

header {
    background-color: #FFFFFF;
}

footer {
    background-color: #eef2f2;
}

section {
    color: #FFFFFF;
}

/* index.html about us */
.aside-about-us {
    background-color: #eef2f2;
}

/* country.html */
.country-video {
    background-color: #eef2f2;
}

/* index.html weekly deal */
.aside-weekly-deal {
    color: #FFFFFF;
}

/* colouring for all icons */
.icon {
    color: #86DBBB;
}

/* index.html buttons */
/* not actually buttons, just look like they are */
.deal-button {
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    background-color: transparent;
}

.signup-button {
    color: #01648B;
    border: 1px solid #01648B;
    background-color: transparent;
}

/* index.html newsletter */
.signup-box {
    color: #01648B;
    border: 1px solid #01648B;
    background-color: transparent;
}

.aside-four-newsletter {
    background-color: transparent;
}

.newsletter-signup-container {
    background-color: #FFFFFF;
    border: 2px solid #01648B;
    box-shadow: 0 0 0.6em #535353;
}

/* change colour of titles on pages with light backgrounds */
.title-accommodation h1 {
    color:#01648B;
}

.title-accommodation h3 {
    color:#01648B;
}

/* =============== LINK AND BUTTON HOVER =============== */
.footer-right ul li a:hover {
    color: #86DBBB;
}

.signup-button:hover, .deal-button:hover, .hamburger:hover {
    background-color:#86DBBB;
}

/* =============== BACKGROUND IMAGES MOBILE ( < 48rem ) =============== */
/* home page backgrounds */
section {
    background-image: url(./images/woman-background-1.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 300% auto;
}

.aside-weekly-deal {
    background-image: url(./images/woman-background-2.jpg);
    background-repeat: no-repeat;
    background-position: -15rem 0;
    background-size: 300% auto;
}

/* country page backgrounds */
.title-country {
    background-image: url(./images/brazil/beach.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


/* city page backgrounds */
.title-city {
    background-image: url(./images/brasilia/brasilia_skyline.jpg);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 500% auto;
}

/* accommodation page backgrounds */
.accommodation-main-title {
    background-image: url(./images/accommodation/door.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.b-hotel {
    background-image: url(./images/accommodation/b_hotel/b_hotel_room.jpg);
    background-size: cover;
}

.casa-do {
    background-image: url(./images/accommodation/casa_do_lago/casa_do_room.jpg);
    background-size: cover;
}

.joy-hostel {
    background-image: url(./images/accommodation/joy_hostel/joy_dorm.jpg);
    background-size: cover;
}


/* attraction page backgrounds */
.attractions-main {
    background-image: url(./images/attractions/attractions_title_bg.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

.catetinho {
    background-image: url(./images/attractions/catetinho/catetinho-sign.jpg);
    background-size: cover;
}

.feira {
    background-image: url(./images/attractions/importados/entrance.jpg);
    background-size: cover;
}

.wish-tree {
    background-image: url(./images/attractions/newsstand/wish.jpg);
    background-size: cover;
}

/* restaurant page backgrounds */

.restaurants-main {
    background-image: url(./images/restaurants/restaurant-main.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.bsb-grill {
    background-image: url(./images/restaurants/bsb/bsb.JPG);
    background-size: cover;
}

.coco {
    background-image: url(./images/restaurants/coco/coco.jpg);
    background-size: cover;
}

.landi {
    background-image: url(./images/restaurants/landi/landi.JPG);
    background-size: cover;
}

/* weather page background */
.weather-main {
    background-image: url(./images/weather/weather-bg.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}


/* =============== IMAGES =============== */

/* logo in header */
.logo-img {
    min-width: 6em;
    max-width: 6em;
}

/* icon size */
.icon {
    width: 45%;
}

/* index.html, leaves in newsletter signup section */
.left-signup-image, .right-signup-image {
    width: 70%;
}

/* =============== VIDEO =============== */
#brazil-video {
    max-width: 30em;
    height: 15em;
}

/* =============== SECTION AND CONTAINER LAYOUTS MOBILE ( < 48rem ) =============== */
/* -----top section that contains main page heading----- */
section {
    padding: 2.2em 1em;
}

.title-container {
    padding: 1.5rem 1.5rem;
}

.title-container p {
    width: 15rem;
    padding: 15rem 0 1rem 0;
}

/*country page*/
.title-container-country {
    padding: 1.5rem 1.5rem;
}

.title-container-country h1 {
    padding: 1rem 0 2rem 0;
}

/* accommodation page */
.title-accommodation {
    height: 20rem;
}

.title-accommodation h1 {
    padding-bottom: 1rem;
}

.title-accommodation h3 {
    padding: 0;
}

/* accommodation, attractions, restaurants layout */
.item-layout {
    padding-top: 0;
}
.content-item {
    padding-top: 2.5rem;
}

/* padding for all aside elements and footer element */
aside, footer {
    padding: 2.2em 1em;
}

/* layout for icons and info */
.icons-container {
    padding: 0 2.6em;
}

.single-icon-container {
    padding: 2.3rem 3.2rem;
	max-width: 28em;
}

.single-icon-container h3 {
    padding: 0.8rem 0 0.8rem 0;
}

/* country.html, city.html overview */
.overview-info p {
    padding-bottom: 1rem;
}

/* layout for accommodation, attractions, and restaurant info */
.title-box h2 {
    padding-bottom: 1rem;
}

.location-box h3 {
    padding: 1.5rem 0 0.5rem 0;
}

.feature-box h3 {
    padding: 1.5rem 0 0.5rem 0;
}

.price-box h3 {
    padding: 1.5rem 0 0.5rem 0;
}

.more-info-link h3 {
    padding: 1.5rem 0 0.5rem 0;
}

.image-box {
    margin: 1rem 0;
    height: 15rem;
}

/* index.html about-us */
.about-us-container {
    padding: 1.2em 2.6em;
}

.about-us-text {
    padding: 0 2.2em;
}

.about-us-text p {
    padding: 1.3em 0 2.2em 0;
}

/* $these are placeholders */
.placeholder {
    border: 1px solid #01648B;
    width: 25rem;
    height: 15rem;
}

.image-gallery {
    background-color: #eef2f2;
    display: flex;
    justify-content: center;
}
/* end placeholders */

/* city.html image gallery */
.city-images-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.city-image {
    display: block;
    width: 85%;
    padding: 1rem 0;
}

/* index.html weekly deal */
.aside-weekly-deal {
    display: flex;
    align-items: end;
    justify-content: center;
    padding: 0 2.6em 3.5em 2.6em;
}

.weekly-deal-container {
    padding: 0 1em 3em 1em;
	max-width: 30em;
}

.weekly-deal-container h3 {
    padding: 1.5em 0;
}

/* not actually a button, just looks like one */
.deal-button {
    display: block;
    padding: 1em 0;
    width: 100%;
}

/* index.html newsletter signup */
.aside-four-newsletter {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* leaves in newsletter signup section of index.html */
/* position and z-index ensures they stay behind everything else */
.left-signup-image {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
}

.right-signup-image {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}
/* end leaves */

.newsletter-signup-container {
    margin: 2rem 3.8rem;
    padding: 2rem 2rem;
}

.newsletter-signup-container h2 {
    padding-bottom: 1rem;
}

.signup-box {
    margin: 1rem 0;
    padding: 0.4rem 0.2rem;
    width: 100%;
}

/* not actually a button, just looks like one */
.signup-button {
    display: block;
    padding: 0.7em 0;
    width: 70%;
}

/* weather.html, icon container layout */
.season h2 {
    padding-bottom: 0.3rem;
}

.season h3 {
    padding-bottom: 0.2rem;
}

/* ----------footer layout---------- */
.footer-container {
    display: flex;
    justify-content: space-between;
}


.footer-copyright {
    padding-top: 1.5rem;
}

/* =============== RESPONSIVENESS =============== */

/* Hides the search bar on small screens */
/* Might put the search bar inside the hamburger menu on 
   small screens if I have time */
@media (max-width: 64em) {
    .search {
        display: none;
    }
}

/* Responsiveness for hamburger menu */
@media only screen and (max-width: 64em) {
    .nav-menu {
        /* hides nav menu */
        position: fixed;
        right: 100%;
        top: 5rem;
        flex-direction: column;
        background-color:#FFFFFF;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.3);
    }

    
    .nav-menu.active {
        /* JS uses this for the 'active' class it adds/removes to/from the 
           nav-menu element when user touches/clicks the hamburger button*/
        left: 0;
        padding: 2rem;
    }

    .nav-menu.active li {
        padding: 1.7rem;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        /* shows hamburger menu */
        display: block;
        cursor: pointer;
        background-color: transparent;
        padding: 1rem;
        border: none;
    }

    /* use "active" class on hamburger to create animation when the
    hamburger menu is touched/clicked */
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}
/* =============== TABLET SIZED SCREEN LAYOUT 40em - 64em =============== */

@media only screen and (min-width: 40em){
    /* =============== BACKGROUND IMAGES =============== */
	section {
        background-position: center;
        background-size: cover;
    }
	
	.aside-weekly-deal {
        background-position: left;
		background-size: cover;
	}
	
    .title-city {
        background-size: 300%;
    }
    
    /* =============== VIDEO =============== */
    .country-video {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #brazil-video {
        max-width: 60em;
        height: 21em;
    }

    /* =============== TYPOGRAPHY =============== */
	/* -----top section that contains main page heading----- */
    .title-container h1 {
        font-size: 3.4rem;
    }

    .title-container p {
        line-height: 2rem;
    }
	
    /* =============== COLOURS AND BORDERS =============== */

    /* =============== CONTENT LAYOUT =============== */
    /* general layout */
    body {
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
    }

    header {
        grid-column: 1/4;
        padding: 0.3rem 1rem;
    }

    section {
        grid-column: 1/4;
    }
	
	main {
		grid-column: 2/3;
	}
	
	aside {
		grid-column: 1/4;
	}
	
	footer {
		grid-column: 1/4;
	}
	
	/* index. layout for 'about us' text and image */
    .aside-about-us {
        grid-column: 1/4;
    }

    .about-us-container {
        padding: 1rem 0;
		display: flex;
		flex-direction: column;
		align-items: center;
    }
	
    .about-us-img {
        display: block;
        width: 30rem;
		padding-top: 1rem;
    }

    .about-us-text {
        width: 30rem;
		padding: 0;
    }

    .about-us-text p {
        padding: 1rem 0 1rem 0;
    }
	
	/* index.html layout for newsletter signup */
	.newsletter-signup-container {
        max-width: 40rem;
        height: auto;
        padding: 2.5rem 3.5rem;
    }
	
	/* leaves in newsletter signup section of index.html */
    /* position and z-index ensures they stay behind everything else */
    .left-signup-image {
        max-width: 33rem;
        position: absolute;
        z-index: -1;
        top: 0;
        right: 0;
    }
    
    .right-signup-image {
        max-width: 33rem;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
    }
    /* end layout for leaves */
	
}




/* =============== DESKTOP SIZED SCREEN LAYOUT =============== */
@media only screen and (min-width: 64em) {
    /* =============== BACKGROUND IMAGES =============== */
    /* Only changes in this section should be for background image positioning, etc. */
    /* --home page backgrounds-- */
    section {
        background-position: left;
    }

    .aside-weekly-deal {
        background-position: left;
        background-size: cover;
    }

    /* --country page background-- */
    .title-country {
        background-position: left;
    }

    /* --city page background-- */
    .title-city {
        background-size: cover;
    }

    /* =============== VIDEO =============== */
    #brazil-video {
        max-width: 60em;
        height: 34em;
    }

    /* =============== LOGO =============== */
    .logo-img {
        margin: 0 1em;
        min-width: 7em;
        max-width: 7em;
    }

    /* =============== SEARCH BAR =============== */
    .search {
        width: 40rem;
        display: flex;
        align-items: center;
        padding: 0 2em;
    }

    .search-input {
        width: 100%;
        border: 2px solid #01648B;
        border-right: none;
        padding: 5px 10px;
        height: 36px;
        border-radius: 5px 0 0 5px;
        outline: none;
        color:#9DBFAF;
        font-size: 1rem;
    }

    .search-input:focus {
        color:#01648B;
    }

    .search-button {
        width: 40px;
        height: 36px;
        border: 1px solid #01648B;
        background: #01648B;
        text-align: center;
        color: #FFF;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        font-size: 20px;
    }

    /* =============== TYPOGRAPHY =============== */
    /* -----top section that contains main page heading----- */
    .title-container h1 {
        font-size: 3.4rem;
    }

    .title-container p {
        line-height: 1.8rem;
    }

    .title-container-country h1 {
        font-size: 3.5rem;
    }
    /* country.html, city.html overview layout */
    .overview-info p {
        line-height: 1.6rem;
    }

    /* index. aside-about-us */
    .about-us-text p {
        line-height: 1.7rem;
    }

    /* index. text for weekly deal and newsletter signup */
    .weekly-deal-container h3 {
        font-weight: 600;
        line-height: 1.6em;
    }

    .newsletter-signup-container p {
        line-height: 1.7rem;
    }

    /* =============== COLOURS AND BORDERS =============== */
    /* -----top section that contains main page heading----- */
    .title-container {
        border: 2px solid #FFFFFF;
        background-color: rgba(0, 0, 0, 0.4);
    }
    
    .title-container-country {
        border: 1px solid #FFFFFF;
        background-color: rgba(0, 0, 0, 0.2);
    }

    .title-accommodation {
        background-color: transparent;
        border: 2px solid #01648B;
    }

    .title-attractions {
        background-color: transparent;
    }

    /* index. aside-about-us */
    .about-us-text {
        background-color: #FFFFFF;
    }
    /* accommodation, attractions, and restaurant content boxes */
    .content-item {
        background-color:#FFFFFF;
        border: 2px solid #01648B;
        box-shadow: 0 0 0.6em #535353;
    }

    /* =============== CONTENT LAYOUT =============== */
    /* general layout */
    body {
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
    }

    header {
        grid-column: 1/4;
        padding: 0.3rem 1rem;
    }

    section {
        grid-column: 1/4;
        display: flex;
        align-items: center;
    }

    /* nav layout */
    .navbar {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .nav-link {
        white-space: nowrap;
        padding: 0 1.5rem;
        font-size: 1.2rem;
    }

    /* -----top section that contains main page heading----- */
    .title-container {
        width: 45rem;
        height: 18rem;
        padding: 3rem;
        margin-left: 8rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
    }

    .title-container h1 {
        width: 100%;
    }

    .title-container p {
        width: 30rem;
        padding: 0;
    }

    .title-container-country {
        width: 33rem;
        height: 15rem;
        padding: 4rem 3rem;
        margin-left: 8rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }

    .title-container-country h1 {
        padding-bottom: 2.5rem;
    }

    .title-accommodation {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .title-accommodation h1 {
        padding-bottom: 2rem;
    }

    .title-accommodation h3 {
        padding-bottom: 0.8rem;
    }

    .title-attractions {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .title-attractions h1 {
        padding-bottom: 2rem;
    }

    .title-attractions h3 {
        padding-bottom: 0.8rem;
    }

    /* layout for icons and info */
    .content-overview {
        grid-column: 2/3;
    }

    .icons-container {
        display: flex;
        justify-content: space-between;
        padding: 5em 0;
    }

    .single-icon-container {
        width: 18em;
    }

    /* country.html, city.html main section layout  */
    .main-info {
        grid-column: 2/3;
        display: flex;
        justify-content: space-between;
        padding: 0;
        margin: 4rem 1.5rem;
    }

    .overview-info {
        width: 40rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .overview-info p {
        padding: 1rem;
    }

    .overview-image img {
        width: 100%;
    }

    .overview-image {
        width: 30rem;
        height: auto;
        display: flex;
        align-items: center;
    }

    /* accommodation, attractions, restaurant main section layout */
    .item-layout {
        grid-column: 2/3;
        display: flex;
    }
    /* accommodation, attractions, and restaurant content boxes */
    .content-item {
        padding: 2rem 1.5rem 1rem 1.5rem;
        margin: 2rem 1rem;
        width: 25em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    /* index. layout for 'about us' text and image */
    .aside-about-us {
        grid-column: 1/4;
    }

    .about-us-container {
        display: flex;
		flex-direction: row;
		justify-content: center;
        align-items: center;
        height: 30rem;
        padding: 2rem 0;
    }

    .about-us-img {
		padding: 0;
        display: block;
        min-width: 27rem;
        max-width: 27rem;
    }

    .about-us-text {
        display: block;
        margin-right: 2rem;
        height: 18.15rem;
		min-width: 32rem;
        padding: 3rem;
    }

    .about-us-text p {
        padding: 1.5rem 0 0 0;
    }

    /* $placeholders */
    .country-video {
        grid-column: 1/4;
        display: flex;
        justify-content: center;
    }
    
    .placeholder {
        width: 45rem;
        height: 25rem;
    }
    /* end placeholders */

    /* city.html, for image gallery */
    .image-gallery {
        grid-column: 1/4;
    }

    .city-images-container {
        flex-direction: row;
        align-items: center;
    }
    
    .city-image {
        width: 100%;
        padding: 0 1rem;
        height: 28rem;
        object-fit: cover;
    }

    /* index.html, weekly deal layout */
    .aside-weekly-deal {
        grid-column: 1/4;
        display: flex;
        justify-content: right;
        align-items: center;
    }

    .weekly-deal-container {
        width: 35rem;
        margin-right: 5rem;
        padding: 0;
    }

    .weekly-deal-container h3 {
        padding: 0 0 1em 0;
    }

    .weekly-deal-container a {
        width: 15rem;
    }

    /* country.html, page specific layout for single-icon-container*/
    .expectation {
        padding: 2rem;
    }

    /* index.html, newsletter signup layout */
    .aside-four-newsletter {
        grid-column: 1/4;
    }

    .aside-four-newsletter figure img {
        display:block;
    }
    
    /* leaves in newsletter signup section of index.html */
    /* position and z-index ensures they stay behind everything else */
    .left-signup-image {
        width: 33rem;
        position: absolute;
        z-index: -1;
        top: 0;
        right: 0;
    }
    
    .right-signup-image {
        width: 33rem;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
    }
    /* end layout for leaves */

    .newsletter-signup-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 40rem;
        height: 18rem;
        padding: 2.5rem 3.5rem;
    }

    .newsletter-signup-container h2 {
        padding-bottom: 1.5rem;
    }

    .newsletter-signup-container p {
        padding-bottom: 1.5rem;
    }

    .email-button-container {
        display: flex;
        justify-content: space-between;
    }

    .signup-box {
        width: 17em;
        height: 3rem;
        margin: 0;
        padding: 0 0 0 0.5rem;
    }

    .signup-button {
        width: 8em;
        height: 3rem;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    /* footer layout, all pages */
    footer {
        grid-column: 1/4;
        padding: 1.8rem 1rem;
    }

    .footer-container {
        padding: 0 1.7rem;
    }
}